<ul class="pagination mt-3 justify-content-center">

    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page=1">
            <i class="fa fa-angle-double-left"></i>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
            <i class="fa fa-angle-left"></i>
        </a>
    </li>
    {% endif %}


    {% for i in page_obj.paginator.page_range %}

    {% if i == page_obj.number %}
    <li class="page-item active">
        <a class="page-link" href="#">{{ i  }}</a>
    </li>
    {% else %}
    <li class="page-item">
        <a class="page-link" href="?page={{ i  }}">{{ i  }}</a>
    </li>
    {% endif %}


    {% endfor %}

    {% if page_obj.has_next %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">
            <i class="fa fa-angle-right"></i>
        </a>
    </li>
    <li class="page-item">
        <a class="page-link" h href="?page={{ page_obj.paginator.num_pages }}">
            <i class="fa fa-angle-double-right"></i>
        </a>
    </li>
    {% endif %}

</ul>